:root {
  --background: #121212; 
  --color: #046604; 
  --animation: terminal-bar;
}

@media (min-width: 800px) {
    :root {
        --size: 1.2;
        --font: "Jetbrains Mono";
    }
}

@media (min-width: 1200px) {
    :root {
        --size: 1.5;
        --font: "Jetbrains Mono";
    }
}